html {
  font-size: 40px !important;
}
.flexBlock {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.flex1 {
  flex: 1;
}
.inlineBlock {
  display: inline-block;
}
.clear {
  clear: both;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.alignRight {
  text-align: right!important;
}
/* 具体样式 start*/
.PopUpBox {
  display: none;
  position: absolute;
  width: 835px;
  height: 800px;
  top: 1080px;
  left: 1920px;
  z-index: 100;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background: #080b2f;
  border: 1px solid #797979;
  padding: 0 8px 10px 0;
}
.PopUpBox.show {
  display: block;
}
.PopUpHeader {
  height: 72px;
  padding-left: 36px;
  border-bottom: 4px solid #ccc;
  text-align: left;
}
.PopUpHeader .PaddingContent {
  padding-top: 2px;
  position: relative;
}
.PopUpHeader h3 {
  font-size: 32px;
  line-height: 70px;
  color: #00ccff;
}
.PopUpHeader .PopUpclose {
  position: absolute;
  width: .5rem;
  height: .5rem;
  right: 14px;
  top: 23px;
  background: url(../images/off.png) no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.PopUpContent .PaddingContent {
  padding-top: 7px;
  text-align: left;
}
.PopUpContent .levelContainer {
  height: 220px;
  padding: 7px 36px 10px 36px;
}
.keyContent .contentList .contentLi {
  text-align: left;
  line-height: 56px;
  font-size: 20px;
  color: #00ccff;
}
.popUpcanvasBox {
  width: 22.7rem;
  height: 10rem;
  margin-top: -0.5rem;
}
.Popuplegend {
  text-align: center;
}
.Popuplegend .OneLevel {
  background: #fbe83a;
}
.Popuplegend .TwoLevel {
  background: #00cdff;
}
.Popuplegend .LegendList {
  padding-top: .3rem;
}
.Popuplegend .WaterQulLine {
  top: -0.1rem;
}
.hrefDiv {
  text-align: right;
}
.hrefDiv a {
  font-size: .68rem;
  line-height: 1rem;
  color: #10ecff;
  text-align: right;
}
.canvasTab {
  height: 2.68rem;
  margin-top: .6rem;
  display: inline-block;
}
.canvasTab .tabSpan {
  padding: 0 0.68rem;
  font-size: .75rem;
  display: inline-block;
  background: #273b5b;
  color: #cedffe;
  border-radius: 3px;
  cursor: pointer;
  height: 1.63rem;
  line-height: 1.63rem;
}
.canvasTab .tabSpan + .tabSpan {
  margin-left: .5rem;
}
.canvasTab .tabSpan.active {
  background: #00e5ff;
  color: #0f0920;
}
.canvasTab.alignRight {
  float: right;
  margin-top: .4rem;
  height: 1.6rem;
}
.levelBox {
  width: 200px;
  height: 100%;
}
.levelBox .insideBox {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.levelBox .levelText {
  margin: 10px 0;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
.insideBox.oneLevel {
  border: 1px solid #4ea9ff;
}
.insideBox.oneLevel .levelText {
  color: #4ea9ff;
}
.insideBox.twoLevel {
  border: 1px solid #0067ff;
}
.insideBox.twoLevel .levelText {
  color: #0067ff;
}
.insideBox.threeLevel {
  border: 1px solid #00ff00;
}
.insideBox.threeLevel .levelText {
  color: #00ff00;
}
.insideBox.fourLevel {
  border: 1px solid #ffff00;
}
.insideBox.fourLevel .levelText {
  color: #ffff00;
}
.insideBox.fiveLevel {
  border: 1px solid #ffd700;
}
.insideBox.fiveLevel .levelText {
  color: #ffd700;
}
.insideBox.sixLevel {
  border: 1px solid #fc0105;
}
.insideBox.sixLevel .levelText {
  color: #fc0105;
}
