html {
  font-size: 40px !important;
}
li {
  list-style: none;
}
.flexBlock {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.flex1 {
  flex: 1;
}
.inlineBlock {
  display: inline-block;
}
.clear {
  clear: both;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.alignRight {
  text-align: right!important;
}
/* 具体样式 start*/
.PopUpBox {
  display: none;
  position: absolute;
  width: 835px;
  height: 800px;
  top: 1080px;
  left: 1920px;
  z-index: 100;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background: #080b2f;
  border: 1px solid #797979;
  padding: 10px;
}
.PopUpBox.show {
  display: block;
}
.PopUpHeader {
  height: 72px;
  padding-left: 36px;
  border-bottom: 4px solid #ccc;
  text-align: left;
}
.PopUpHeader .PaddingContent {
  padding-top: 2px;
  position: relative;
}
.PopUpHeader h3 {
  font-size: 32px;
  line-height: 70px;
  color: #00ccff;
}
.PopUpHeader .PopUpclose {
  position: absolute;
  width: .5rem;
  height: .5rem;
  right: 19px;
  top: 21px;
  background: url(../images/off.png) no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.PopUpContent .PaddingContent {
  padding-top: 7px;
  text-align: left;
}
.PopUpContent .levelContainer {
  height: 220px;
  padding: 7px 36px 10px 36px;
}
.keyContent .contentList .contentLi {
  font-weight: 700;
  text-align: left;
  line-height: 50px;
  font-size: 20px;
  color: #00ccff;
}
.tab-content {
  padding: 12px 20px 20px 20px;
  width: 100%;
  height: 414px;
}
.waterImg {
  width: 72px;
  height: 72px;
  margin-top: 37px;
  background: url(../images/u139.png) no-repeat;
  background-size: 100% 100%;
}
.videoDiv {
  position: relative;
}
.controlDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 90px;
  transform: translate(-50%, -50%);
  background: rgba(105, 105, 105, 0.3);
  border-radius: 50%;
}
.controlDiv .controlIcon {
  display: block;
  width: 64px;
  height: 64px;
  margin: 13px;
  background: url('../images/uplay.png');
}
.controlDiv .controlIcon.pause {
  background: url('../images/upause.png');
}
.popUpcanvasBox {
  width: 770px;
  height: 346px;
  margin-top: -35px;
  display: none;
}
.active {
  display: block;
}
.Popuplegend {
  text-align: center;
}
.Popuplegend .OneLevel {
  background: #fbe83a;
}
.Popuplegend .TwoLevel {
  background: #00cdff;
}
.Popuplegend .LegendList {
  padding-top: .3rem;
}
.Popuplegend .WaterQulLine {
  top: -0.1rem;
}
.hrefDiv {
  text-align: right;
}
.hrefDiv a {
  font-size: .68rem;
  line-height: 1rem;
  color: #10ecff;
  text-align: right;
}
.tablistsBox {
  border-bottom: 4px solid #ccc;
}
.selfTabs {
  margin: 0 0 7px 0;
  width: 375px;
  height: 36px;
  text-align: center;
}
.selfTabs .selfTab {
  color: #fff;
  background: #080b2f;
  border-top: 1px solid #797979;
  border-bottom: 1px solid #797979;
  flex: 1;
}
.selfTabs .selfTab:first-child {
  border: 1px solid #797979;
  border-right: none;
  border-radius: 8px 0 0 8px;
}
.selfTabs .selfTab:last-child {
  border: 1px solid #797979;
  border-radius: 0 8px 8px 0;
}
.selfTabs .selfTab.active {
  background: #00ccff;
}
.selfTabs .selfTab + .selfTab {
  border-left: 1px solid #797979;
}
.canvasTab {
  width: 375px;
  height: 36px;
  text-align: center;
  width: 490px;
  height: 32px;
}
.canvasTab .tabLi {
  color: #fff;
  background: #080b2f;
  border-top: 1px solid #797979;
  border-bottom: 1px solid #797979;
}
.canvasTab .tabLi:first-child {
  border: 1px solid #797979;
  border-right: none;
  border-radius: 8px 0 0 8px;
  border-radius: 7px 0 0 7px;
}
.canvasTab .tabLi:last-child {
  border: 1px solid #797979;
  border-radius: 0 8px 8px 0;
  border-radius: 0 7px 7px 0;
}
.canvasTab .tabLi.active {
  background: #00ccff;
}
.canvasTab .tabLi + .tabLi {
  border-left: 1px solid #797979;
}
.canvasTab .longerText {
  width: 100px;
}
.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}
.canvasTab.alignRight {
  float: right;
  margin-top: .4rem;
  height: 1.6rem;
}
.updateTime {
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  text-align: right;
  color: #fff;
}
.carousel {
  width: 100%;
  height: 100%;
}
.carousel .item > img {
  width: 100%;
  height: 100%;
}
.carousel .arrowIcon {
  display: inline-block;
  width: 20px;
  height: 65px;
  margin-top: 166px;
}
.carousel .leftIcon {
  background: url('../images/u84.png') no-repeat;
}
.carousel .rightIcon {
  background: url('../images/u89.png') no-repeat;
}
.levelBox {
  width: 200px;
  height: 100%;
}
.levelBox .insideBox {
  margin: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.levelBox .levelText {
  width: 150px;
  margin: 10px 0;
  font-size: 22px;
  font-weight: 900;
  line-height: 26px;
  text-align: center;
}
.levelBox.oneLevel .insideBox {
  border: 4px solid #4ea9ff;
}
.levelBox.oneLevel .levelText {
  color: #4ea9ff;
}
.levelBox.twoLevel .insideBox {
  border: 4px solid #0067ff;
}
.levelBox.twoLevel .levelText {
  color: #0067ff;
}
.levelBox.threeLevel .insideBox {
  border: 4px solid #00ff00;
}
.levelBox.threeLevel .levelText {
  color: #00ff00;
}
.levelBox.fourLevel .insideBox {
  border: 4px solid #ffff00;
}
.levelBox.fourLevel .levelText {
  color: #ffff00;
}
.levelBox.fiveLevel .insideBox {
  border: 4px solid #fd2c08;
}
.levelBox.fiveLevel .levelText {
  color: #fd2c08;
}
.levelBox.sixLevel .insideBox {
  border: 4px solid #fc0105;
}
.levelBox.sixLevel .levelText {
  color: #fc0105;
}
/*     某些弹窗的单独设置  */
.PopUpBox_pol .contentList .contentLi {
  line-height: 56px;
}
