
@FontBlue:#00ccff;
@BackBlue:#080b2f;
@borderSliver:#ccc;
@borderGrey:#797979;
@OneLevelC: #4ea9ff;
@TwoLevelC: #0067ff;
@ThreeLevelC: #00ff00;
@FourLevelC: #ffff00;
@FiveLevelC: #ffd700;
@SixLevelC: #fc0105;
#tabs(){
	.tabsList{
		width:375px;
		height: 36px;
		color:#fff;
		border:1px solid @borderGrey; 
		border-radius:3px;
	}
	.tabli{
	    flex:1;
		background:#080b2f;
	}
	.tabli.active{
		background:#00ccff;
	}
	.tabli+.tabli{
		border-left:1px solid @borderGrey; 
	}
}
html{
	font-size: 40px !important;
}
.flexBlock{
	display: flex;
	display: -webkit-box; 
   display: -moz-box;  
   display: -ms-flexbox; 
   display: -webkit-flex; 
}
.flex1{
   flex: 1
}
.inlineBlock{
	display: inline-block;
}
.clear{
	clear: both;
}
.floatLeft{
	float: left;
}
.floatRight{
	float: right;
}
.alignRight{
	text-align: right!important;
}

/* 具体样式 start*/
.PopUpBox{
	display:none;
	position: absolute;
	width: 835px;
	height: 800px;
	top:1080px;
	left: 1920px;
	z-index: 100;
	transform: translate(-50%,-50%);
	overflow: hidden;
	background:#080b2f;
	border:1px solid #797979;
	padding:0 8px 10px 0;
}
.PopUpBox.show{
    display:block;
}
.PopUpHeader{
	height: 72px;
	padding-left:36px;
	border-bottom: 4px solid @borderSliver; 
	text-align: left;
	.PaddingContent{
		padding-top:2px;
		position: relative;
	}
	h3{
		font-size: 32px;
		line-height: 70px;
		color:@FontBlue;
	}
	.PopUpclose{
		position: absolute;
		width: .5rem;
		height: .5rem;
		right: 14px;
		top: 23px;
        background: url(../images/off.png) no-repeat;
		background-size: 100% 100%;
		cursor: pointer;
	}
}
.PopUpContent{
    
	.PaddingContent{
		padding-top:7px;
		text-align: left;
	}
	.levelContainer{
		height:220px;
		padding:7px 36px 10px 36px;

	}
}

.keyContent{
	.contentList{
		.contentLi{
			text-align: left;
			line-height: 56px;
			font-size:20px;
			color:@FontBlue;
		}
	}
}



.popUpcanvasBox{
	width: 22.7rem;
	height:10rem;
	margin-top: -.5rem;
}
.Popuplegend{
	text-align: center;
	
	//margin-bottom: .53rem;
	.OneLevel{
       background:#fbe83a;
	}
	.TwoLevel{
		background:#00cdff;
	}
	.LegendList {
		padding-top: .3rem;
	}
	.WaterQulLine {
		top: -.1rem;
	}
}
.hrefDiv{
	text-align: right;
	a{
		font-size: .68rem;
		line-height:1rem; 
		color:#10ecff;
		text-align: right;
	}
}
.canvasTab{
	height: 2.68rem;
	margin-top:.6rem;
	display: inline-block;
	.tabSpan{
		padding: 0 0.68rem;
		font-size: .75rem;
		display: inline-block;
		background: #273b5b;
		color: #cedffe;
		border-radius: 3px;
		cursor: pointer;
		height: 1.63rem;
		line-height: 1.63rem;
	}

	.tabSpan+.tabSpan{
		margin-left:.5rem;
	}
	.tabSpan.active{
		background: #00e5ff;
		color: #0f0920;
	}
}
.canvasTab.alignRight{
	float: right;
	margin-top:.4rem;
	height: 1.6rem;
}
.levelBox{
	width:200px;
	height:100%;
	.insideBox{
		width: 150px;
		height:150px;
		border-radius:50%; 
	}
	.levelText{
		margin:10px 0;
		font-size: 20px;
		line-height: 26px;
		text-align: center;
	}
 }
 .insideBox.oneLevel{
	border:1px solid @OneLevelC;
	.levelText{
		color:@OneLevelC;
	}
}
.insideBox.twoLevel{
	border:1px solid @TwoLevelC;
	.levelText{
		color:@TwoLevelC;
	}
}
.insideBox.threeLevel{
	border:1px solid @ThreeLevelC;
	.levelText{
		color:@ThreeLevelC;
	}
}
.insideBox.fourLevel{
	border:1px solid @FourLevelC;
	.levelText{
		color:@FourLevelC;
	}
}
.insideBox.fiveLevel{
	border:1px solid @FiveLevelC;
	.levelText{
		color:@FiveLevelC;
	}
}
.insideBox.sixLevel{
	border:1px solid @SixLevelC;
	.levelText{
		color:@SixLevelC;
	}
}
